#if($breakingNewsArticles.size() > 0)
  #foreach($entry in $breakingNewsArticles)
    #set($article = $entry)
    #set($contentId = $article.contentId.contentId.contentIdString.replace('.', '_'))
    #if($content.text.value)
      #set($text = $content.text.value)
    #else
      #set($text = $article.name)
    #end

    #set($canonicalPath = $p_path.resolve($article.contentId))
    #if($canonicalPath)
      #set($canonicalLink = "#link({'path': $canonicalPath, 'htmlEncodeLink': 'true', 'requestAttribs': {'localLinksEnabled': false}})")
    #end

    <!-- // BREAKING NEWS START -->
    <div aria-live="polite" class="breaking-news-banner js-breaking-news js-breaking-$contentId" data-contentid="$contentId">
      <div class="breaking-news-banner__inner ">
        <div class="content-center content-gutter">
          <div class="breaking-news-banner__category">$content.term.value</div>
          <div class="breaking-news-banner__headline">
            #if($canonicalLink)
            <a href="$canonicalLink">$article.headline</a>
            <a class="breaking__link" title="$!article.name" href="$canonicalLink">$text</a>
            #else
            <a href="#">$article.headline</a>
            <a class="breaking__link" title="$!article.name">$text</a>
            #end
          </div>
          <div class="breaking-news-banner__close js-breaking-news-close">
            <i class="icon icon--close"></i>
            <span class="close">close</span>
            <span class="count js-count" data-count="$content.seconds.value">$content.seconds.value</span>
          </div>
        </div>
      </div>
    </div>
    <!-- // BREAKING NEWS END -->
  #end
#end